<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>0</string>
	<key>appearanceStyle</key>
	<string>1</string>
	<key>appearanceTheme</key>
	<string>2</string>
	<key>appsToShow</key>
	<string>0</string>
	<key>appsToShow10</key>
	<string>0</string>
	<key>captureWindowsInBackground</key>
	<string>false</string>
	<key>cursorFollowFocus</key>
	<string>0</string>
	<key>hideColoredCircles</key>
	<string>false</string>
	<key>hideSpaceNumberLabels</key>
	<string>false</string>
	<key>hideStatusIcons</key>
	<string>true</string>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAQAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAQAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>menubarIconShown</key>
	<string>false</string>
	<key>mouseHoverEnabled</key>
	<string>true</string>
	<key>nextWindowGesture</key>
	<string>3</string>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>screenRecordingPermissionSkipped</key>
	<string>true</string>
	<key>screensToShow</key>
	<string>1</string>
	<key>screensToShow10</key>
	<string>1</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutStyle</key>
	<string>0</string>
	<key>showOnScreen</key>
	<string>1</string>
	<key>updatePolicy</key>
	<string>1</string>
</dict>
</plist>
